@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --borderColor: #ececec;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

html {
  /* 16px 브라우저 글꼴 크기의 62.5%는 10px입니다 */
  /* 16px * 0.625 = 10px */
  font-size: 62.5%;
}

.container {
  padding: 0 16px;
  padding-top: 5.6rem;
  padding-bottom: 6rem;
}

.category-swiper {
  padding: 1rem;
}

.category-swiper .swiper-slide {
  width: auto;
}

/* 최대너비 지정 */
:root {
  --max-width: 2560px;
  --layout-bg-color: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 1.6rem; /* 1.6 * 10px = 16px */
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  min-width: 340px;
  background-color: var(--layout-bg-color);
  overflow-y: auto;
}

@media (min-width: 768px) {
  body::before,
  body::after {
    content: '';
    position: fixed;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(138, 138, 138, 0.1);
    z-index: 9999;
  }

  body::before {
    left: calc(50% - 300px);
  }

  body::after {
    right: calc(50% - 300px);
  }
}

/* 스크롤바 커스텀 */
@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 1px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.3);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(193, 193, 193, 0.6);
    border-radius: 4px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 1px;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(193, 193, 193, 0.3) rgba(241, 241, 241, 0.6);
}

.overflow-x-auto {
  scroll-behavior: smooth;
}
