.customHeader {
  @apply fixed left-0 right-0 top-0 z-40 h-[56px] bg-white;
  width: 100%; /* 전체 너비 사용 */
  max-width: 600px; /* 최대 너비 고정 */
  margin: 0 auto; /* 중앙 정렬 */
}

.headerContent {
  @apply flex h-full items-center justify-center justify-between px-4 md:px-6;
  width: 100%;
}

.backButton {
  @apply flex items-center justify-center rounded-lg border border-gray-200 p-2;
}

.headerTitle {
  @apply mx-auto text-m;
}

.rightButton {
  @apply absolute right-4 flex items-center justify-center rounded-lg border border-gray-200 p-2;
}
